.login-screen-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 96vh;

  .login-screen-image-container {
    flex: 2;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    height: auto;

    .login-screen-image-container {
      flex: 1;
      height: 50vh;
    }
  }

  @media (max-width: 768px) {
    .login-screen-image-container {
      height: 40vh;
    }
  }

  @media (max-width: 480px) {
    .login-screen-image-container {
      height: 30vh;
    }
  }
}
